@import './reset.scss';
@import './variables.scss';

#app {
    .option-container, .modal-background, .modal-container {
        position: absolute;
    }

    .modal-container {
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .modal-background {
        width: 100%;
        background-color: $modalBackground;
    }
}