@import './reset.scss';
@import './variables.scss';

#app {

    font-family: $fontStack;

    .select {
        padding: 8px;
        border-radius: 3px;
        border: 2px solid $selectBorder;
        min-width: 170px;
        font-size: 1.1em;

        &:hover {
            cursor: pointer;
        }

        .select-arrow-container {
            position: absolute;
            border-radius: 3px 3px 0 0;
            right: 0;
            transform: translateY(-50%);
            top: 50%;
            padding: 6px;
            min-width: 18px;
            background: $selectBorder;

            .select-arrow {
                display: flex;
                justify-content: center;
                font-size: 1.2em;
                color: $selectArrow;
            }
        }
    }

    .select, .modal-background-overlay, .modal-container {
        position: absolute;
    }

    .modal-background-overlay.show {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }
    
    .modal-background-overlay {
        visibility: hidden;
        opacity: 0;
        transition: opacity $modalSpeed;
        width: 100%;
        background-color: $modalBackground;
    }

    .modal-container {
        top: 50px;
        left: 50%;
        transform: translateX(-51%);

        .modal-input-container {
            position: relative;
        }

        .modal-input-error {
            outline: none;
            border: 2px solid red;
        }
    }

    .modal-options:hover {
        cursor: pointer;
    }

    .modal-error-message {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -123px;
        top: -29px;
        max-width: 100px;
        background-color: $errorMessageBlue;
        color: $errorMessageWhite;

        .modal-error-message-exit {
            font-size: 0.7em;
            align-self: flex-end;
            margin-right: 8px;
            opacity: 0.85;

            &:hover {
                cursor: pointer;
            }
        }

        p {
            margin-top: 2px;
            padding: 0 5px 5px 5px;
        }
    }

    .modal-error-message:after, .modal-error-message:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .modal-error-message:after {
        border-left-color: $errorMessageBlue;
        border-width: $modalTriangleWidth;
        margin-top: -#{$modalTriangleWidth};
    }
    .modal-error-message:before {
        border-width: $modalTriangleWidth;
        margin-top: -#{$modalTriangleWidth};
    }
}