// colors
$modalBackground:rgba(0, 0, 0, 0.4);
$selectBorder:#eee;
$selectArrow: #aaa;

// font stack
$fontStack: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;